<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCreateServlet</servlet-name>
        <servlet-class>Servlet.ProductCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductEditServlet</servlet-name>
        <servlet-class>Servlet.ProductEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <servlet-class>Servlet.ProductDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactoryServlet</servlet-name>
        <servlet-class>Servlet.FactoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactoryDeleteServlet</servlet-name>
        <servlet-class>Servlet.FactoryDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactoryCreateServlet</servlet-name>
        <servlet-class>Servlet.FactoryCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactoryEditServlet</servlet-name>
        <servlet-class>Servlet.FactoryEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchServlet</servlet-name>
        <servlet-class>Servlet.BranchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchDeleteServlet</servlet-name>
        <servlet-class>Servlet.BranchDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchCreateServlet</servlet-name>
        <servlet-class>Servlet.BranchCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchEditServlet</servlet-name>
        <servlet-class>Servlet.BranchEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>Servlet.TransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncomingTransactionCreateServlet</servlet-name>
        <servlet-class>Servlet.IncomingTransactionCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncomingTransactionServlet</servlet-name>
        <servlet-class>Servlet.IncomingTransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutcomingTransactionServlet</servlet-name>
        <servlet-class>Servlet.OutcomingTransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutcomingTransactionCreateServlet</servlet-name>
        <servlet-class>Servlet.OutcomingTransactionCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCreateServlet</servlet-name>
        <url-pattern>/productCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductEditServlet</servlet-name>
        <url-pattern>/productEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <url-pattern>/productDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactoryServlet</servlet-name>
        <url-pattern>/factory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactoryDeleteServlet</servlet-name>
        <url-pattern>/factoryDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactoryCreateServlet</servlet-name>
        <url-pattern>/factoryCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactoryEditServlet</servlet-name>
        <url-pattern>/factoryEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchServlet</servlet-name>
        <url-pattern>/branch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchDeleteServlet</servlet-name>
        <url-pattern>/branchDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchCreateServlet</servlet-name>
        <url-pattern>/branchCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchEditServlet</servlet-name>
        <url-pattern>/branchEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncomingTransactionCreateServlet</servlet-name>
        <url-pattern>/incomingTransactionCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncomingTransactionServlet</servlet-name>
        <url-pattern>/incomingTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutcomingTransactionServlet</servlet-name>
        <url-pattern>/outcomingTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutcomingTransactionCreateServlet</servlet-name>
        <url-pattern>/outcomingTransactionCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
